
:root {
    //Primary colors
  --primary-100: #1e90ff;
  --primary-300: #ffffff;
  --primary-500: #ffffff;
  --primary-700: #ffffff;
  --primary-900: #ffffff;

    //Secondary colors
  --secondary-100: #1e90ff;
  --secondary-300: #ffffff;
  --secondary-500: #ffffff;
  --secondary-700: #ffffff;
  --secondary-900: #ffffff;

   //Neutral colors
   --neutral-000: #ffffff;
   --neutral-100: rgb(234, 252, 255);
   --neutral-200: rgb(225, 233, 235);
   --neutral-300: #818181;
   --neutral-500: #383838;
   --neutral-700: #1f1e1e;
   --neutral-900: #0d0c0b;
   --neutral-900-50: #0d0c0b80;
   --neutral-1000: #000000;
}

