body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);

  #__next {
    display: flex;

    aside {
      width: 200px;
      height: 100vh;
    }

    main {
      width: calc(100vw - 200px);
      height: 100vh;
      overflow: auto;

      header {
        position: fixed;
      }
    }
  }
}